body {
    font-family: poppins;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(./aleks-dahlberg-Frerby5o1T4-unsplash.jpg);
    background-color: #101010;
    color: #333;
}
.link{
    color: #004494;
}
.link:hover{
    color: #333;
}
.resize{
    max-width: 30%;
    max-height: 30%;
    display: block;
    padding-right: 2em;
}
.resize:hover{
    cursor: not-allowed;
}
div{
    font-weight: normal;
}
.skillslist{
    list-style-type: circle;
}
.resume-button {
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.resume-button:hover {
    background: #004494;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
    list-style: none;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
    color: #333;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #fff;
    font-style: italic;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #0056b3;
}
.empty {
    opacity: 0;
    filter: blur(5px);
    transform: scale(0);
    transition: all 1.5s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: scale(100%);
}
.section-title {
    font-size: larger;
    margin-top: 3em;
    cursor: pointer;
}
.list {
    list-style-type: circle;
    padding-left: 3em;
}
nav {
    background: #0056b3;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
.hidden {
    display: none;
}
.toggle-button {
    background: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.toggle-button:hover {
    background: #004494;
}
@media only screen and (max-width: 1400px) {
    .nav-menu {
        position: fixed;
        left: -200%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-link{
        color: #333;
    }
    .nav-link:hover{
        color: #0056b3;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}